---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login | Academia">
  <main class="main">
    <h1>Academia</h1>
    <form class="login">
      <div style="display: flex; flex-direction: column; gap: 2px">
        <input id="user" placeholder="Username" />
        <input id="pass" placeholder="Passw*rd" type="password" />
      </div>
      <button type="submit" id="login-btn" class="button">Login</button>
    </form>
  </main>

  <style>
    .main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      gap: 22px;
      height: 96vh;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
    }

    .login {
      background-color: var(--background-light);
      border: 2px solid var(--border);
      display: -webkit-box;
      display: -ms-flexbox;
      gap: 12px;
      display: flex;
      width: 32vw;
      min-width: 320px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 24px 32px;
      border-radius: 32px;
      gap: 18px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .login button {
      font-family: "Inter";
      background-color: var(--background);
      color: var(--accent);
      border: 2px solid var(--background-dark);
      border-radius: 12px;
      padding: 6px 12px;
      font-size: 16px;
      font-weight: 700;

      width: -webkit-fit-content;

      width: -moz-fit-content;
      -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      width: fit-content;
    }

    .login button:disabled {
      border: 2px solid var(--yellow) !important;
      background: #ffca630e !important;
      color: var(--yellow) !important;
    }
    .login input {
      background-color: rgba(48, 54, 61, 0.5);
      border: none;
      border-radius: 10px;
      color: var(--color);
      padding: 4px 8px !important;
      outline: none;
      -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
    }

    .login input:first-of-type {
      border-bottom-left-radius: 2px !important;
      border-bottom-right-radius: 2px !important;
    }

    .login input:last-of-type {
      border-top-left-radius: 2px !important;
      border-top-right-radius: 2px !important;
    }

    .login h1 {
      color: var(--accent);
    }
  </style>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    if(localStorage.getItem('access')) window.location.href = "/academia"
  });

  const btn = document.getElementById("login-btn");
  const user = document.getElementById("user");
  const pass = document.getElementById("pass");

  function reset() {
    if (!btn) return;
    btn.style.background = "var(--background)";
    btn.style.color = "var(--accent)";
  }

  user?.addEventListener("input", () => reset());
  pass?.addEventListener("input", () => reset());

  btn?.addEventListener("click", (e) => {
  var u = (user as HTMLInputElement).value
  var p = (pass as HTMLInputElement).value

  console.log(u, p)


    fetch("https://academai-s-3.azurewebsites.net//login", {
      method: "POST",
      cache: "force-cache",
      headers: {
        Host: "academai-s-3.azurewebsites.net",
        Origin: "https://a.srmcheck.me",
        Referer: "https://a.srmcheck.me/",
        "content-type": "application/json",
      },
      body: JSON.stringify({
        username: u,
        password: p,
      }),
    })
      .then((d) => d.json())
      .then((res) => {
        if (res.token) {
          btn.style.background = "var(--green)";
          btn.style.color = "var(--background-dark)";
          btn.style.border = "2px solid transparent";
          localStorage.setItem("access", res.token);

          window.location.href = "/academia";
        } else {
          btn.style.background = "var(--red)";
          btn.style.color = "var(--background-dark)";
          btn.style.border = "2px solid transparent";
        }
      });
  });
</script>
