.attr {
  border-collapse: separate;
  border-spacing: 0;
  width: -webkit-fill-available;
}

.attr thead {
  display: none;
}

@media only screen and (max-width: 665px) {
  .attr {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}
