.total {
  background: #d4d4d4;
  padding: 0px 12px;
  border-radius: 50px;
  font-weight: 700;
  color: #0a0d12;
}

.card {
  width: -webkit-fill-available;
  background: transparent;
  border: 0px solid transparent;
  display: table-row;
  vertical-align: middle;
}

.attendance {
  background-color: #04070b;
  border-radius: 50px;
  display: flex;
  gap: 8px;
  padding: 2px 2px 2px 12px;
  justify-content: space-between;
}

.card td {
  padding: 12px 16px;
}

.subjectCode {
  background: #d4d4d4;
  padding: 0px 10px;
  font-family: "Inter";
  font-weight: 700;
  color: #0a0d12;
  border-radius: 50px;
}

.red {
  color: var(--red);
}

.percent,
.red,
.green {
  text-align: right;
  font-weight: 700;
}

.green {
  color: var(--green);
}

.card td:first-child {
  border-radius: 12px 0 0 12px;
}

.card td:last-child {
  border-radius: 0 12px 12px 0;
}

.practical {
  background: #70fa70 !important;
}

.card h4 {
  font-size: 16px;
  max-width: 300px;
}

.card:nth-child(2n + 1) td {
  background: #0a0d12;
}

@media only screen and (max-width: 665px) {
  .card {
    display: grid;
    flex-direction: column;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 135px;
  }

  .card td {
    padding: 10px 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .card td:nth-of-type(2n) {
    justify-content: flex-end !important;
  }

  .card td:nth-of-type(1) {
    padding-left: 12px;
    padding-top: 12px;
    border-radius: 24px 0 0 0 !important;
    -webkit-border-radius: 24px 0 0 0 !important;
    -moz-border-radius: 24px 0 0 0 !important;
    -ms-border-radius: 24px 0 0 0 !important;
    -o-border-radius: 24px 0 0 0 !important;
}

  .card td:nth-of-type(2) {
    align-items: flex-start;
    padding-top: 16px;
    border-radius: 0 24px 0 0 !important;
    -webkit-border-radius: 0 24px 0 0 !important;
    -moz-border-radius: 0 24px 0 0 !important;
    -ms-border-radius: 0 24px 0 0 !important;
    -o-border-radius: 0 24px 0 0 !important;
}

  .card td:nth-of-type(4) {
    border-radius: 0 0 24px 0 !important;
    -webkit-border-radius: 0 0 24px 0 !important;
    -moz-border-radius: 0 0 24px 0 !important;
    -ms-border-radius: 0 0 24px 0 !important;
    -o-border-radius: 0 0 24px 0 !important;
}

  .card td:nth-of-type(3) {
    border-radius: 0 0 0 24px !important;
    -webkit-border-radius: 0 0 0 24px !important;
    -moz-border-radius: 0 0 0 24px !important;
    -ms-border-radius: 0 0 0 24px !important;
    -o-border-radius: 0 0 0 24px !important;
}
}
