---
import { ViewTransitions } from "astro:transitions";
import { pwaInfo } from "virtual:pwa-info";

interface Props {
  title: string;
}

import "react-loading-skeleton/dist/skeleton.css";
const { title } = Astro.props;

import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/favicons/192.png" />
    <link rel="mask-icon" href="/favicon.svg" color="#0a0d12" />
    <meta name="msapplication-TileColor" content="#D4D4D4" />
    <meta name="theme-color" content="#D4D4D4" />

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="University data, beautifully presented at your fingertips"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script is:inline src="/src/pwa.ts"></script>

    <link rel="manifest" href="/manifest.webmanifest" />

    <SEO
      title={title}
      description="University data, beautifully presented at your fingertips | Built for SRM University"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image:
            "https://raw.githubusercontent.com/root-daemon/academiapro/dev/public/og.png?token=GHSAT0AAAAAACOVISREXEXAX7KA3SXRACDIZPJ3C7Q",
        },
      }}
      twitter={{
        creator: "@rahuletto",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: undefined,
          },
          { name: "twitter:title", content: title },
          {
            name: "twitter:description",
            content:
              "University data, beautifully presented at your fingertips | Built for SRM University",
          },
        ],
      }}
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --background: #0a0d12;
        --background-dark: #04070b;
        --background-darker: #04070b;
        --background-light: #12171e;
        --side-active: #171d26;
        --accent: #b3b3d1;
        --theory: #f3d86a;
        --yellow: #ffca63;
        --practical: #70fa70;
        --green: #64f58d;
        --red: #f56464;
        --color: #d4d4d4;
      }

      button,
      a {
        -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
        -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
      }
      button:active {
        opacity: 0.8;
        -webkit-transform: scale(0.95) rotate(-2deg);
        -ms-transform: scale(0.95) rotate(-2deg);
        transform: scale(0.95) rotate(-2deg);
      }
      button:hover,
      a:hover {
        opacity: 0.9;
        -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
        transform: scale(0.98);
      }

      a:active {
        opacity: 0.8;
        -webkit-transform: scale(0.94);
        -ms-transform: scale(0.94);
        transform: scale(0.94);
      }

      .download {
        text-decoration: none;
        background: #171d26;
        font-size: 14px;
        color: var(--accent) !important;
        font-weight: 600;
        border: 0px none;
        border-radius: 100px;
        padding: 4px 12px;
      }

      .react-loading-skeleton {
        --base-color: #0d1116 !important;
        --highlight-color: #495362ee !important;
        --pseudo-element-display: block !important;
        --animation-direction: alternate !important;
        -webkit-animation-timing-function: cubic-bezier(
          0.88,
          -0.8,
          0.58,
          1
        ) !important;
        animation-timing-function: cubic-bezier(0.88, -0.8, 0.58, 1) !important;
      }

      .react-loading-skeleton:nth-of-type(2n + 1) {
        -webkit-animation-duration: 3s !important;
        animation-duration: 3s !important;
      }

      h1,
      h2,
      h3,
      h4,
      p,
      div {
        margin-bottom: 0px;
        font-family: "Inter", system-ui, sans-serif;
        color: var(--color);
      }

      ::-webkit-scrollbar {
        width: 16px;
      }

      ::-webkit-scrollbar-track {
        background-color: var(--background);
      }

      ::-webkit-scrollbar-track:hover {
        background-color: var(--background);
      }

      /* scrollbar itself */
      ::-webkit-scrollbar-thumb {
        background: var(--background-dark);
        border-radius: 16px;
        border: 6px solid var(--background);
      }

      ::-webkit-scrollbar-thumb:hover {
        border: 3px solid var(--background-dark);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-dark);
      }

      ::-webkit-scrollbar-button {
        display: none;
      }

      html {
        background: var(--background) !important;
        scroll-behavior: smooth;
      }
      body {
        background-color: var(--background) !important;
        padding: 18px !important;
        margin: 0px !important;
      }

      hr {
        margin: 0px !important;
        border-top: 3px solid var(--side-active) !important;
      }

      .markGrid:active .markCard {
        opacity: 0.2;
      }

      .markGrid:active .markCard:active {
        opacity: 1;
        box-shadow: 0px 0px 200px 300px rgba(4, 7, 11, 0.13);
      }

      .attTable:active .attCard {
        opacity: 0.2;
      }

      .attTable:active .attCard:active {
        opacity: 1;
      }

      @media only screen and (max-width: 766px) {
        .markGrid:active .markCard {
          opacity: 1;
        }

        .markGrid:active .markCard:active {
          opacity: 1;
        }

        .attTable:active .attCard {
          opacity: 1;
        }

        .attTable:active .attCard:active {
          opacity: 1;
        }
      }
      @media only screen and (max-width: 440px) {
        body {
          padding: 8px !important;
        }
      }
    </style>

    <script></script>
  </body>
</html>
