---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

import "react-loading-skeleton/dist/skeleton.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --background: #0a0d12;
        --background-dark: #04070b;
        --background-light: #12171e;
        --side-active: #171d26;
        --accent: #b3b3d1;
        --theory: #f3d86a;
        --practical: #70fa70;
        --green: #64f58d;
        --red: #f56464;
        --color: #d4d4d4;
      }
      .react-loading-skeleton {
        --base-color: #0d1116 !important;
        --highlight-color: #495362ee !important;
        --pseudo-element-display: block !important;
        --animation-direction: alternate !important;
        animation-timing-function: cubic-bezier(0.88, -0.8, 0.58, 1) !important;
      }

      .react-loading-skeleton:nth-of-type(2n+1) {

        animation-duration: 3s !important;
      }

      h1,
      h2,
      h3,
      h4,
      p,
      div {
        margin-bottom: 0px;
        font-family: "Inter", system-ui, sans-serif;
        color: var(--color);
      }

      ::-webkit-scrollbar {
        width: 16px;
      }

      ::-webkit-scrollbar-track {
        background-color: var(--background);
      }

      ::-webkit-scrollbar-track:hover {
        background-color: var(--background);
      }

      /* scrollbar itself */
      ::-webkit-scrollbar-thumb {
        background: var(--background-dark);
        border-radius: 16px;
        border: 6px solid var(--background);
      }

      ::-webkit-scrollbar-thumb:hover {
        border: 3px solid var(--background-dark);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-dark);
      }

      ::-webkit-scrollbar-button {
        display: none;
      }

      html {
        background: var(--background) !important;
        scroll-behavior: smooth;
      }
      body {
        background-color: var(--background) !important;
        padding: 12px !important;
        margin: 0px !important;
      }

      hr {
        margin: 0px !important;
        border-top: 3px solid var(--side-active) !important;
      }
    </style>
  </body>
</html>
